body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* Header */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #000;
}
.nav-link {
  text-align: left;
  color: #212121;
}
.contacts-link {
  text-align: left;
  color: #757575;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}
/* Main */
.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
}
.hero-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
}
.features-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.features-name {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: left;
}
.features-name-desc {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #75757;
}
.services-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team-name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.team-name-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}
/* Футер сайту */
.logo-studio-footer {
  color: #ffffff;
}
.address-name {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}
.address-contacts {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}
