body {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
}

.container {
  width: 1170px;
  padding: 0px 15px;
  margin: 0 auto;
}
.container.header-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Header */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #000;
}
.nav-link {
  text-align: left;
  color: #212121;
}
.contacts-link {
  text-align: left;
  color: #757575;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}
/* Main */
.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  margin-bottom: 30px;
}
.hero-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  margin-bottom: 294px;
}
.features-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
.features-name {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 30px;
}
.features-name-desc {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #75757;
  padding-left: 30px;
  margin-bottom: 90px;
}
.services-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.services-list-item {
  padding-left: 30px;
  margin-bottom: 90px;
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.team-list-item {
  padding-left: 30px;
  margin-bottom: 30px;
}

.team-name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  padding-left: 100px;
  margin-bottom: 10px;
}
.team-name-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  padding-left: 100px;
  margin-bottom: 180px;
}
/* Футер сайту */
.logo-studio-footer {
  color: #ffffff;
  margin-bottom: 20px;
}
.address-name {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 10px;
}
.address-contacts {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff99;
}
